* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ececec;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.box_header {
    
 background-color: black ;
 min-height: 100px;
    
}

.content_header{
    
    color: #ececec;
}

#logo:hover{
    cursor: pointer;
}

.logo:active{
    color: rgb(190, 172, 6) ;
}

.title {
    padding: 25px;
    text-align: center;
    font-weight: 700;
    color: red;
   

}


.banner_main {
    width: 100%;
}


.sub_title {
    text-align: center;
    padding: 20px;

}

.container {
    margin: 10px;
    background-color: #ececec;

}

.container p {
    margin: 20px;
    padding: 15px;
    text-align: center;
    font-size: 25px;

}

.beneficios {
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: aquamarine;
}

.itens {
    font-size: 25px;
    margin-left: 40px;
}

.list_content {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    margin-right: 15%;
}

.footer{
    text-align: center;
    min-height: 100px;
    color: #ececec;
    background-color: black;
   
}

.text_footer{
    padding: 50px;
    color: #ececec;
    font-size: 20px;
    font-weight: 700;

}
.text_footer:hover{
    color: rgb(190, 172, 6);
    cursor: pointer;
}